[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rdbnomics"]
	path = rdbnomics
	url = https://github.com/cran/rdbnomics
	shallow = true
	registered = true
